**/build
**/public
**/.cache
**/.next
**/.git
**/.husky
**/.idea
**/.vscode
**/.yarn
**/yarn.lock
**/package-lock.json
**/pnpm-lock.yaml
**/.now/*
**/dist
**/esm/*
**/tests/*
**/*.config.js
**/.DS_Store
**/node_modules
**/coverage
**/build
**/!.storybook
/**/.storybook/**
**/.turbo
**/.keystone/admin
**/keystone.db
**/apps/admin/.keystone/**
.keystone/**
!**/*.{js,jsx,ts,tsx,md}
.env*.example
