# node-linker=hoisted
# shamefully-hoist=true
# auto-install-peers=true
# save-exact=true
# strict-peer-dependencies=false
git-checks=false
node-version=18.16.0
save-prefix=
resolution-mode=time-based
dedupe-direct-deps=true
enable-pre-post-scripts=true
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*framer-motion*
public-hoist-pattern[]=*@react-aria/interactions*
