# node-linker=hoisted
# shamefully-hoist=true
# dedupe-direct-deps=true
# auto-install-peers=true
# save-exact=true
# strict-peer-dependencies=false
# enable-pre-post-scripts=true
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*framer-motion*
public-hoist-pattern[]=*@react-aria/interactions*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*keystone*
