# save-exact=true
strict-peer-dependencies=false
link-workspace-packages=false
# node-linker=hoisted
# shamefully-hoist=true
auto-install-peers=true
engine-strict=true
git-checks=false
node-version=18.16.1
save-prefix=
# dedupe-direct-deps=true
enable-pre-post-scripts=true
# legacy-peer-deps=true
public-hoist-pattern[]=*framer-motion*
public-hoist-pattern[]=*@react-aria/interactions*
public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*@swc/*
public-hoist-pattern[]=*react-icons*
