@import url('./normalize.css');
@import url('./tailwind.css');

:root {
  --black: #000;
}

html {
  scroll-margin-top: 100px;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

article a {
  line-break: anywhere;
}

article a[href^='http']:not(:has(img))::after {
  content: '';
  width: 14px;
  height: 14px;
  margin-left: 2px;
  background-image: url("data:image/svg+xml,%3Csvg stroke=' rgb(180, 107, 244)' fill=' rgb(180, 107, 244)' stroke-width='0' viewBox='0 0 20 20' aria-hidden='true' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z'%3E%3C/path%3E%3Cpath d='M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.footer {
  background-image: url('/images/backgrounds/blurry-gradients/4.webp'),
    url('/images/backgrounds/texture.webp');
  background-position:
    90% 50%,
    0 0;
  background-repeat: no-repeat, repeat;
  background-size: 70%, 5%;
}

.add-texture {
  background-image: url('/images/backgrounds/texture.webp');
  background-repeat: repeat;
  background-size: 5%;
}

.bg-blurry-gradients {
  background-image: url('/images/backgrounds/blurry-gradients/1.webp'),
    url('/images/backgrounds/blurry-gradients/2.webp'),
    url('/images/backgrounds/blurry-gradients/3.webp'),
    url('/images/backgrounds/blurry-gradients/4.webp');
  background-position:
    -16% -400px,
    116% 100px,
    -16% 600px,
    116% 1100px;
  background-size: 30%;
  background-repeat: no-repeat;
}

.bg-blurry-gradients_2 {
  background-image: url('/images/backgrounds/blurry-gradients/1.webp'),
    url('/images/backgrounds/blurry-gradients/2.webp'),
    url('/images/backgrounds/blurry-gradients/3.webp');
  background-position:
    0% 1600px,
    100% 2100px,
    4% 2600px;
  background-size: 20%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .bg-blurry-gradients {
    background-position:
      -20% -130px,
      125% 260px,
      -25% 730px,
      120% 1250px;
  }

  .bg-blurry-gradients_2 {
    background-position:
      -10% 1750px,
      110% 2250px,
      -10% 2750px;
  }
}
