/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */

@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  color-scheme: dark;
}

body {
  --gradient-accent: linear-gradient(112deg, #06b7db -63.59%, #ff4ecd -20.3%, #0072f5 70.46%);

  width: 100vw;
  height: 100%;
  min-height: 100vh;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  background-color: hsl(181deg 0% 0% / 100%);
  background-image: radial-gradient(at 82% 25%, hsl(258deg 81% 60% / 32%) 0, transparent 50%),
    radial-gradient(at 7% 79%, hsl(268deg 79% 64% / 38%) 0, transparent 50%);
}

a {
  color: inherit;
  text-decoration: none;
}
